FRONTEND_URL=https://your-frontend-domain.com

ADMIN_EMAIL=Truptiyoganaturecure@gmail.com
ADMIN_PASSWORD=Trupti_yoga

JWT_SECRET=TruptiYoga2026@SecureJWT#123456789

SMTP_EMAIL=varunkvvarunkv1@gmail.com
SMTP_PASSWORD=vvfdvgjefqdptkzc
